main {
  min-width: 100vw;
  background-color: var(--background);
  padding: 2rem;

  .main-content {
    max-width: 1280px;
    margin: 0 auto;
    
    header {
      margin-bottom: 2rem;
      h1 {
        font-weight: 700;
      }
      p {
        color: var(--muted-foreground);
      }
    }
  }
}
